


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #312E2B; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(61, 113, 209); 
  border-radius: 6px;
}


.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #312E2B;
  color: white;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10vh 10vh;
  width: 40vh;
  height: 81vh;
  border-radius: 10px;
}


button {
  flex-shrink: 0;
  padding: 0;
  border: none;
  background-color: #312e2b;
  color: #ffffff;
  border-radius: 10px;
  text-align: center;
  width: 15vw;
  height: 7vh;
  margin: 3vh;

  font-size: 2.2vw;
  transition: 0.1s ease;
  transition-property: background-color, color, box-shadow;
  cursor: pointer;
  border: 4px solid rgb(255, 255, 255);
}

button:hover {
  background-color: red;
}
button:active {
  background-color: #312e2b;
}
.times {
  user-select: none;
  background-color: #f1faee;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  height: 30vh;
  width: 15vw;
  margin: 5vh;

}
.timeO,
.timeX {
  text-shadow: 5px 6px 4px #252525;
  color: red;
  line-height: 14vh;
  background-color: #312e2b;
  text-align: center;
  font-size: 10vh;
  cursor: pointer;
  transition: 0.1s;
}
.pgn {
  font-family: monospace;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  height: 40vh;
  width: 90%;
  overflow-wrap: anywhere;
  /* background-color: #d4ddf081; */
  margin: 2vh;
  padding: 3px;
  overflow-y: auto;
  overflow-x:hidden;
  text-align: justify;
  transition: .1s ease;
}
.pgn:hover{
  color: #3a3633;
  background-color: white;
}
.timeX {
  color: green;
}
.timeO:hover,
.timeX:hover {
  background-color: #3a3633;
  text-shadow: 0px 0px 0px #252525;
  font-size: 11vh;
}

@keyframes spin1 {
  99% {
    transform: rotate(360deg);
    font-size: 0;
    visibility: hidden;
  }
}
@media (max-width: 480px) {
    .main{
        flex-direction: column;
    }
  .container {
      margin: 0;
    /* display: none; */
  }
  .times{
    display: none; 
  }
  button{
    width: 70vw;
    height: 7vh;
    margin: 2vw;
    font-size: 2.2vh;  
  }
  .board {
    grid-template-columns: 30vw 30vw 30vw;
    grid-template-rows: 30vw 30vw 30vw;
    gap: 1.5vw;
    margin: 5vw;
    border: 1.5vw solid;
    border-radius: 15px;
    width: 96vw;
    height: 96vw;
  }
  .X,
  .O {
    font-size: 25vw;
  }

}
