<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='chessboard-1.0.0.css')}}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2" crossorigin="anonymous">
    </script>
    <script src="static/chessboard-1.0.0.js"></script>
    <script src="static/chess.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <script type="module" src="{{ url_for('static',filename='app.js') }}"> </script>


    <title>Tic tac toe</title>
</head>

<body>
    <section class="main">
        <div class="container left">
            <pre id="pgn" class="pgn">1.</pre>
            <div class="timeX" id="eval">0</div>
        </div>
        <div id="myBoard" style="width: 94vh;" class="board"></div>
        </div>
        <div class="container">
            <div class="times">
                <div class="timeO" id="timeO">32</div>
                <div class="timeX" id="timeX">12</div>
                
            </div>
        </div>
    </section>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="static/app.js"></script>
</html>